body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    perspective: 1500px;
  }
  
  .card {
    width: 3000px;
    height: 3000px;
    transform-style: preserve-3d;
    transition: transform 1s;
    position: relative;
    cursor: pointer;
  }
  
  .card img {
    width: 3000px;
    height: 3000px;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
  }
  
  .card .back {
    transform: rotateY(180deg);
  }
  